<div style="margin-top: 60px">
  <hr style="margin: 10px" />
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    "
  >
    <p class="footer-text">
      Part of a project in the course Applied Cloud Computing, 5 c., at Uppsala
      University 2020
    </p>
    <a href="https://github.com/ajamlou/ACC5_project"
      ><img
        src="assets/github.png"
        style="width: 35px; height: 35px; margin-right: 20px"
    /></a>
  </div>

  <p style="font-style: italic" class="footer-text">
    By Kevin Ajamlou, Lisa Bevemyr, Arslan Hameed & Egemen Yiğit Kömürcü
  </p>
</div>
