/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Glacial Indifference", sans-serif;
}

.home-container,
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.problem-button,
.back-button {
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  box-shadow: 2px 3px #888888;
  outline: none;
}
.problem-button {
  background-color: #172b4d;
  height: 50px;
  width: 120px;
}

.back-button {
  background-color: #f83c3d;
  float: left;
  height: 30px;
  width: 120px;
}

.problem-button:active {
  background-color: #3462af;
}

.back-button:active {
  background-color: #f95859;
}

.input {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 20;
  font-weight: bold;
  border: 1px solid grey;
  text-align: center;
  margin-bottom: 20px;
}

.footer-text {
  color: black;
  margin: 15px;
  text-align: center;
}
